@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: var(--font-instrument-sans);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-instrument-sans{
    font-family: var(--font-instrument-sans);
}
.font-inter-tight{
    font-family: var(--font-inter-tight);
}

/* Base styles */
@layer base {
    :root {
        --background: 255 255 255;
        --foreground: 0 0 0;
        --border: 0 0 0;          /* black */
    }

    .dark {
        --background: 0 0 0;
        --foreground: 255 255 255;
        --border: 255 255 255;    /* white */
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Custom container */
@layer utilities {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (min-width: 640px) {
        .container {
            max-width: 640px;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            max-width: 1024px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width: 1280px) {
        .container {
            max-width: 1280px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    @media (min-width: 1536px) {
        .container {
            max-width: 1536px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}
