@import "tailwindcss";

/* Base styles */
@layer base {
    :root {
        --background: 255 255 255;
        --foreground: 0 0 0;
    }

    .dark {
        --background: 0 0 0;
        --foreground: 255 255 255;
    }

    body {
        @apply bg-white text-black dark:bg-black dark:text-white;
    }
}